In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('CDC_CLEANED.csv')

/Users/treycapps/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15,16,17,18,19,20,21,22,23,24,25,27,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
data.head()

,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,37119.0,3.711901e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Joint,2,0,2,...,NaN,NaN,NaN,7063,68.84,70700,84,2053,2733,15
1,37119.0,3.711901e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Joint,2,0,2,...,NaN,NaN,NaN,7063,68.84,70700,84,2053,2733,15
2,37085.0,3.708507e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Male,3,0,2,...,NaN,NaN,NaN,4746,46.46,56500,73,1068,1969,44
3,37065.0,3.706502e+10,C,Conventional:First Lien,Not Hispanic or Latino,White,Male,4,0,2,...,NaN,NaN,NaN,3162,47.53,54700,79,761,1416,38
4,37185.0,3.718595e+10,C,Conventional:First Lien,Not Hispanic or Latino,White,Joint,1,8,2,...,NaN,NaN,NaN,4162,69.46,51600,74,920,1872,40

In [55]:
data.dropna(inplace = True, thresh = 250000, axis = 1)

In [54]:
data.shape

(594769, 43)

In [56]:
data.columns

Index(['county_code', 'census_tract', 'conforming_loan_limit',
       'derived_loan_product_type', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'open-end_line_of_credit',
       'business_or_commercial_purpose', 'loan_amount', 'loan_to_value_ratio',
       'interest_rate', 'rate_spread', 'total_loan_costs',
       'origination_charges', 'loan_term', 'interest_only_payment',
       'property_value', 'occupancy_type', 'total_units', 'income',
       'debt_to_income_ratio', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'co-applicant_ethnicity-1', 'applicant_race-1',
       'co-applicant_race-1', 'applicant_age', 'co-applicant_age',
       'applicant_age_above_62', 'denial_reason-1', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')

In [65]:
data.drop(['open-end_line_of_credit', 'rate_spread', 'total_loan_costs', 'origination_charges',
        'loan_term', 'interest_only_payment',
       'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'co-applicant_ethnicity-1', 'applicant_race-1',
       'co-applicant_race-1', 'co-applicant_age','applicant_age_above_62'], inplace = True, axis =1)

In [66]:
data.head()

,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,...,debt_to_income_ratio,applicant_age,denial_reason-1,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,37119.0,3.711901e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Joint,2,0,2,...,20%-<30%,55-64,10,7063,68.84,70700,84,2053,2733,15
1,37119.0,3.711901e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Joint,2,0,2,...,20%-<30%,55-64,10,7063,68.84,70700,84,2053,2733,15
2,37085.0,3.708507e+10,C,Conventional:First Lien,Hispanic or Latino,Race Not Available,Male,3,0,2,...,20%-<30%,55-64,7,4746,46.46,56500,73,1068,1969,44
3,37065.0,3.706502e+10,C,Conventional:First Lien,Not Hispanic or Latino,White,Male,4,0,2,...,NaN,25-34,10,3162,47.53,54700,79,761,1416,38
4,37185.0,3.718595e+10,C,Conventional:First Lien,Not Hispanic or Latino,White,Joint,1,8,2,...,38,45-54,10,4162,69.46,51600,74,920,1872,40

In [70]:
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
data.dtypes

census_tract                         float64
conforming_loan_limit                 object
derived_loan_product_type             object
derived_ethnicity                     object
derived_race                          object
derived_sex                           object
action_taken                           int64
purchaser_type                         int64
preapproval                            int64
loan_type                              int64
loan_purpose                           int64
business_or_commercial_purpose         int64
loan_amount                          float64
loan_to_value_ratio                   object
interest_rate                         object
property_value                        object
occupancy_type                         int64
total_units                            int64
income                               float64
debt_to_income_ratio                  object
applicant_age                         object
denial_reason-1                        int64
tract_population                       int64
tract_minority_population_percent    float64
ffiec_msa_md_median_family_income      int64
tract_to_msa_income_percentage         int64
tract_median_age_of_housing_units      int64
dtype: object

In [72]:
data.drop(['tract_owner_occupied_units', 'tract_one_to_four_family_homes', 'county_code']
          , axis =1, inplace = True)

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

cat_encoder = OneHotEncoder()

num_data = cat_encoder.fit_transform(data['derived_age', 'derived_sex', 'derived_'])



num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('std_scaler', StandardScaler())
])